<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="23e881b5-eb7a-4942-b1b6-acde3e0cea0c"
    Publisher="CN=chanakya"
    Version="0.2.0.0" />

  <Properties>
    <DisplayName>Hurl</DisplayName>
    <PublisherDisplayName>Chanakya</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Hurl"
        Description="Hurl is a Windows Utility"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
	    <desktop:Extension Category="windows.fullTrustProcess" Executable="BrowserStarter\BrowserStarter.exe" />
	    <uap:Extension Category="windows.protocol">
			<uap:Protocol Name="http" DesiredView="useMinimum">
				<uap:DisplayName>HurlUWPP</uap:DisplayName>
			</uap:Protocol>
		</uap:Extension>
		<uap:Extension Category="windows.protocol" EntryPoint="Hurl.App">
			<uap:Protocol Name="https" DesiredView="useMinimum">
				<uap:DisplayName>HurlUWPP</uap:DisplayName>
			</uap:Protocol>
		</uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
</Package>
